<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>이미지</td>
        <td>name</td>
        <td>설명</td>
        <td>hp</td>
        <td>공격력</td>
        <td>주문력</td>
        <td>방어력</td>
        <td>마법저항</td>
        <td>주문가속</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "itemMember : ${list}">
        <td th:text="${itemMember.id}"></td>
        <td><img th:src="@{${itemMember.src}}" width="100px" height="100px"></td>
        <td th:text="${itemMember.name}"></td>
        <td th:text="${itemMember.text}"></td>
        <td th:text="${itemMember.hp}"></td>
        <td th:text="${itemMember.ad}"></td>
        <td th:text="${itemMember.ap}"></td>
        <td th:text="${itemMember.armor}"></td>
        <td th:text="${itemMember.magic_resistance}"></td>
        <td th:text="${itemMember.cooldown}"></td>

    </tr>
    </tbody>
</table>
<br>
<form action = "/home" method = "post">
    <input type = "submit" value = "돌아가기">
</form>

</body>
</html>