<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>name</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each = "member : ${list}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
        </tr>
    </tbody>
</table>

<form action = "/home" method = "post">
    <input type = "submit" value = "돌아가기">
</form>

</body>
</html>