<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--아이템세트 멤버 DB 출력하는 곳-->
<head>
    <meta charset="UTF-8">
    <title>member List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>name</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each = "member : ${list}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>

            <tr th:each = "item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.text}"></td>
                <td th:text="${item.hp}"></td>
                <td th:text="${item.ad}"></td>
                <td th:text="${item.ap}"></td>
                <td th:text="${item.armor}"></td>
                <td th:text="${item.magic_resistance}"></td>
                <td th:text="${item.cooldown}"></td>
                <td><img th:src="@{${item.src}}" width="100px" height="100px"></td>

            </tr>

        </tr>
    </tbody>
</table>

<form action = "/home" method = "post">
    <input type = "submit" value = "돌아가기">
</form>

</body>
</html>