<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "/members/modify" method = "post">
    바꿀 템세트 번호 : <input type = "text" id = "ID" name = "ID"><br>
    이름 변경 : <input type = "text" id = "Name" name = "Name"><br>
    첫째 아이템 : <input type = "text" id = "ItemID1" name = "ItemID1"><br>
    둘째 아이템 : <input type = "text" id = "ItemID2" name = "ItemID2"><br>
    셋째 아이템 : <input type = "text" id = "ItemID3" name = "ItemID3"><br>
    넷째 아이템 : <input type = "text" id = "ItemID4" name = "ItemID4"><br>
    다섯째 아이템 : <input type = "text" id = "ItemID5" name = "ItemID5"><br>
    여섯째 아이템 : <input type = "text" id = "ItemID6" name = "ItemID6"><br>
    <input type = "submit" value = "등록">
</form>

<table>
    <thead>
    <tr>
        <td>id</td>
        <td>name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "member : ${list}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>