<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register Member</title>
</head>
<body>
<form action = "/members/new" method = "post">
    이름 : <input type = "text" id = "name" name = "name"><br>
    첫째 아이템 : <input type = "text" id = "id1" name = "item1"><br>
    둘째 아이템 : <input type = "text" id = "id2" name = "item2"><br>
    셋째 아이템 : <input type = "text" id = "id3" name = "item3"><br>
    넷째 아이템 : <input type = "text" id = "id4" name = "item4"><br>
    다섯째 아이템 : <input type = "text" id = "id5" name = "item5"><br>
    여섯째 아이템 : <input type = "text" id = "id6" name = "item6"><br>
    <input type = "submit" value = "등록">
</form>
</body>
</html>